<!DOCTYPE html>
<html>
    <body>
        <h1>User Signup</h1>

        <form action="/user_signup_error" method ="post">
            
            Username 
            <input type='text' name="username"/>{{name_error}}
            <p>

            Password      
            <input type='password' name="password"/>{{pass_error}}
            <p>

            Verify Password
            <input type='password' name="ver_password"/>{{ver_pass_error}}
            <p>

            Email (Optional)
            <input type='text' name="email"/>{{email_error}}
            <p>

            <input type='submit'/>
            
        </form>    

    </body>
</html>        
        
